body {
    background-color: lightgreen;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
table {
    width: 400px;
}

.movedown {
    margin-top: 20px;
}

img {
    text-align: center;
    width: 25%;
    height: auto;
}

.table-style {
    background-color: darkgray;
}
.table-style td {
    background-color: white;
}

.table-style thead tr {
    text-align: center;
}

#title {
    font-size: 24px;
}

/* For width 400px and larger: */
@media only screen and (min-width: 400px) {
    body {

        background-image: url('image.jpg');
    }
}
